## Using KNN


* A generic collaborative filtering model where the only data which can be used is user and item interaction
* Here we use explicity feedback to recommend top n movies based on user's favourite movie 
* Other than user-item interaction via explicit feedback, which here is rating from 1 to 5, we don't use any other feature
* Data Source: https://grouplens.org/datasets/movielens/latest/ (ml-latest-small-zip)
* Theory reference: https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea

In [1]:
import pandas as pd
import os 
from scipy.sparse import csr_matrix
from fuzzywuzzy import fuzz

c:\Users\manpresingh\AppData\Local\miniconda3\envs\python38\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
os.getcwd()

'c:\\Users\\manpresingh\\OneDrive - Microsoft\\Personal\\Recommendation Models'

In [3]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv', 
                        usecols=['movieId', 'title', 'genres'], 
                        dtype={'movieId':'int32', 'title':'str', 'genres':'str'})

df_ratings = pd.read_csv('./ml-latest-small/ratings.csv',
                         usecols=['userId', 'movieId', 'rating'],
                         dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int32
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int32(1), object(2)
memory usage: 190.4+ KB

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int32
 1   movieId  100836 non-null  int32
 2   rating   100836 non-null  float32
dtypes: float32(1), int32(2)
memory usage: 1.2 MB

In [6]:
df_movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df_ratings.head(5)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [8]:
num_users = df_ratings.userId.nunique()
num_items = df_ratings.movieId.nunique()
num_users, num_items

(610, 9724)

In [9]:
df_ratings['rating'].value_counts().sort_index()

rating
0.5     1370
1.0     2811
1.5     1791
2.0     7551
2.5     5550
3.0    20047
3.5    13136
4.0    26818
4.5     8551
5.0    13211
Name: count, dtype: int64

In [10]:
df_ratings['movieId'].value_counts().sort_values(ascending=False).head(5)

movieId
356     329
318     317
296     307
593     279
2571    278
Name: count, dtype: int64

In [11]:
# Randomly took 50 for this POC
# Ideally, we need to plot and find the popular movies which are being seen / rated more
# This is doone to avoid using unseen/unrated movies to reduce KNN compue
# But, it can also degrade the model and as unrated movies will never get recommended

pd.DataFrame(df_ratings['movieId'].value_counts()).query('count >=50')

         count
movieId
356        329
318        317
296        307
593        279
2571       278
...        ...
333         50
3785        50
8361        50
2105        50
33166       50

[450 rows x 1 columns]

In [12]:
popular_movies = list(set(pd.DataFrame(df_ratings['movieId'].value_counts()).query('count >=50').index))

df_movies.movieId.nunique()

In [13]:
df_ratings_popular_movies = df_ratings[df_ratings.movieId.isin(popular_movies)]

In [14]:
df_ratings.shape

(100836, 3)

In [15]:
df_ratings_popular_movies.shape

(41360, 3)

In [16]:
df_ratings_popular_movies.movieId.nunique()

450

In [17]:
df_ratings_popular_movies.userId.nunique()

606

In [18]:
movie_user_matrix = df_ratings_popular_movies.pivot(index='movieId', columns = 'userId', values='rating').fillna(0)
movie_user_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0
7,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
109487,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
112852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
116797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

In [19]:
movie_to_idx = {
    movie: i for i, movie in enumerate(list(df_movies.set_index('movieId').loc[movie_user_matrix.index].title))
    
}

In [20]:
movie_to_idx

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Heat (1995)': 3,
 'Sabrina (1995)': 4,
 'GoldenEye (1995)': 5,
 'American President, The (1995)': 6,
 'Casino (1995)': 7,
 'Sense and Sensibility (1995)': 8,
 'Ace Ventura: When Nature Calls (1995)': 9,
 'Get Shorty (1995)': 10,
 'Leaving Las Vegas (1995)': 11,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 12,
 'Babe (1995)': 13,
 'Dead Man Walking (1995)': 14,
 'Clueless (1995)': 15,
 'Seven (a.k.a. Se7en) (1995)': 16,
 'Pocahontas (1995)': 17,
 'Usual Suspects, The (1995)': 18,
 "Mr. Holland's Opus (1995)": 19,
 'From Dusk Till Dawn (1996)': 20,
 'Broken Arrow (1996)': 21,
 'Happy Gilmore (1996)': 22,
 'Braveheart (1995)': 23,
 'Taxi Driver (1976)': 24,
 'Birdcage, The (1996)': 25,
 'Bad Boys (1995)': 26,
 'Apollo 13 (1995)': 27,
 'Batman Forever (1995)': 28,
 'Casper (1995)': 29,
 'Congo (1995)': 30,
 'Crimson Tide (1995)': 31,
 'Desperado (1995)': 32,
 'Die Hard: With a Vengeance (1995)': 33,
 'First Knight (1995)': 34,
 'Johnny Mnemonic (1995)': 35,
 'Judge Dredd (1995)': 36,
 'Net, The (1995)': 37,
 'Waterworld (1995)': 38,
 'Clerks (1994)': 39,
 'Disclosure (1994)': 40,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 41,
 'Ed Wood (1994)': 42,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 43,
 'Star Wars: Episode IV - A New Hope (1977)': 44,
 'Legends of the Fall (1994)': 45,
 'Natural Born Killers (1994)': 46,
 'Outbreak (1995)': 47,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 48,
 'Pulp Fiction (1994)': 49,
 'Quiz Show (1994)': 50,
 'Stargate (1994)': 51,
 'Santa Clause, The (1994)': 52,
 'Shawshank Redemption, The (1994)': 53,
 'Star Trek: Generations (1994)': 54,
 'Tommy Boy (1995)': 55,
 "What's Eating Gilbert Grape (1993)": 56,
 'While You Were Sleeping (1995)': 57,
 'Ace Ventura: Pet Detective (1994)': 58,
 'Clear and Present Danger (1994)': 59,
 'Client, The (1994)': 60,
 'Crow, The (1994)': 61,
 'Forrest Gump (1994)': 62,
 'Four Weddings and a Funeral (1994)': 63,
 'Lion King, The (1994)': 64,
 'Mask, The (1994)': 65,
 'Maverick (1994)': 66,
 'Naked Gun 33 1/3: The Final Insult (1994)': 67,
 'Speed (1994)': 68,
 'True Lies (1994)': 69,
 'Addams Family Values (1993)': 70,
 'Beverly Hills Cop III (1994)': 71,
 "City Slickers II: The Legend of Curly's Gold (1994)": 72,
 'Cliffhanger (1993)': 73,
 'Coneheads (1993)': 74,
 'Dave (1993)': 75,
 'Demolition Man (1993)': 76,
 'Firm, The (1993)': 77,
 'Fugitive, The (1993)': 78,
 'Hot Shots! Part Deux (1993)': 79,
 'In the Line of Fire (1993)': 80,
 'Jurassic Park (1993)': 81,
 'Last Action Hero (1993)': 82,
 'Mrs. Doubtfire (1993)': 83,
 'Philadelphia (1993)': 84,
 'Piano, The (1993)': 85,
 'Robin Hood: Men in Tights (1993)': 86,
 "Schindler's List (1993)": 87,
 'Sleepless in Seattle (1993)': 88,
 'Blade Runner (1982)': 89,
 'Nightmare Before Christmas, The (1993)': 90,
 'Three Musketeers, The (1993)': 91,
 'Tombstone (1993)': 92,
 'True Romance (1993)': 93,
 'Home Alone (1990)': 94,
 'Ghost (1990)': 95,
 'Aladdin (1992)': 96,
 'Terminator 2: Judgment Day (1991)': 97,
 'Dances with Wolves (1990)': 98,
 'Batman (1989)': 99,
 'Silence of the Lambs, The (1991)': 100,
 'Snow White and the Seven Dwarfs (1937)': 101,
 'Beauty and the Beast (1991)': 102,
 'Pinocchio (1940)': 103,
 'Pretty Woman (1990)': 104,
 'Fargo (1996)': 105,
 'Mission: Impossible (1996)': 106,
 'Dragonheart (1996)': 107,
 'Space Jam (1996)': 108,
 'Truth About Cats & Dogs, The (1996)': 109,
 'Rock, The (1996)': 110,
 'Twister (1996)': 111,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 112,
 'Trainspotting (1996)': 113,
 'Independence Day (a.k.a. ID4) (1996)': 114,
 'Cable Guy, The (1996)': 115,
 'Eraser (1996)': 116,
 'Nutty Professor, The (1996)': 117,
 'Godfather, The (1972)': 118,
 'Vertigo (1958)': 119,
 'Rear Window (1954)': 120,
 'North by Northwest (1959)': 121,
 'Some Like It Hot (1959)': 122,
 'Casablanca (1942)': 123,
 'Wizard of Oz, The (1939)': 124,
 'Citizen Kane (1941)': 125,
 '2001: A Space Odyssey (1968)': 126,
 "It's a Wonderful Life (1946)": 127,
 'Mary Poppins (1964)': 128,
 'Sound of Music, The (1965)': 129,
 'Die Hard (1988)': 130,
 'Willy Wonka & the Chocolate Factory (1971)': 131,
 'Fish Called Wanda, A (1988)': 132,
 "Monty Python's Life of Brian (1979)": 133,
 'Reservoir Dogs (1992)': 134,
 'Platoon (1986)': 135,
 'E.T. the Extra-Terrestrial (1982)': 136,
 'Top Gun (1986)': 137,
 'Abyss, The (1989)': 138,
 'Monty Python and the Holy Grail (1975)': 139,
 'Wallace & Gromit: The Wrong Trousers (1993)': 140,
 "One Flew Over the Cuckoo's Nest (1975)": 141,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 142,
 'Princess Bride, The (1987)': 143,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)': 144,
 'Brazil (1985)': 145,
 'Aliens (1986)': 146,
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)': 147,
 '12 Angry Men (1957)': 148,
 'Clockwork Orange, A (1971)': 149,
 'To Kill a Mockingbird (1962)': 150,
 'Apocalypse Now (1979)': 151,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 152,
 'Goodfellas (1990)': 153,
 'Alien (1979)': 154,
 'Army of Darkness (1993)': 155,
 'Psycho (1960)': 156,
 'Blues Brothers, The (1980)': 157,
 'Godfather: Part II, The (1974)': 158,
 'Full Metal Jacket (1987)': 159,
 'Amadeus (1984)': 160,
 'Annie Hall (1977)': 161,
 'Sting, The (1973)': 162,
 'Terminator, The (1984)': 163,
 'Dead Poets Society (1989)': 164,
 'Graduate, The (1967)': 165,
 'Chinatown (1974)': 166,
 'Shining, The (1980)': 167,
 'Stand by Me (1986)': 168,
 'Groundhog Day (1993)': 169,
 'Back to the Future (1985)': 170,
 'Cool Hand Luke (1967)': 171,
 'Young Frankenstein (1974)': 172,
 'Fantasia (1940)': 173,
 'This Is Spinal Tap (1984)': 174,
 'Indiana Jones and the Last Crusade (1989)': 175,
 'Field of Dreams (1989)': 176,
 'Butch Cassidy and the Sundance Kid (1969)': 177,
 'When Harry Met Sally... (1989)': 178,
 'Star Trek: First Contact (1996)': 179,
 'Die Hard 2 (1990)': 180,
 'Star Trek II: The Wrath of Khan (1982)': 181,
 'Batman Returns (1992)': 182,
 'Grease (1978)': 183,
 'Jaws (1975)': 184,
 'Mars Attacks! (1996)': 185,
 'Jerry Maguire (1996)': 186,
 'Raising Arizona (1987)': 187,
 'Scream (1996)': 188,
 'Donnie Brasco (1997)': 189,
 'Liar Liar (1997)': 190,
 'Grosse Pointe Blank (1997)': 191,
 'Austin Powers: International Man of Mystery (1997)': 192,
 'Fifth Element, The (1997)': 193,
 'Lost World: Jurassic Park, The (1997)': 194,
 'Con Air (1997)': 195,
 'Face/Off (1997)': 196,
 'Men in Black (a.k.a. MIB) (1997)': 197,
 'Contact (1997)': 198,
 'Air Force One (1997)': 199,
 'Hunt for Red October, The (1990)': 200,
 'L.A. Confidential (1997)': 201,
 'Game, The (1997)': 202,
 'Chasing Amy (1997)': 203,
 'Full Monty, The (1997)': 204,
 "The Devil's Advocate (1997)": 205,
 'Gattaca (1997)': 206,
 'Starship Troopers (1997)': 207,
 'Truman Show, The (1998)': 208,
 'Good Will Hunting (1997)': 209,
 'Titanic (1997)': 210,
 'Big Lebowski, The (1998)': 211,
 'Wedding Singer, The (1998)': 212,
 'As Good as It Gets (1997)': 213,
 'Armageddon (1998)': 214,
 "There's Something About Mary (1998)": 215,
 'Rocky (1976)': 216,
 'Rain Man (1988)': 217,
 'Breakfast Club, The (1985)': 218,
 'Exorcist, The (1973)': 219,
 'Lethal Weapon (1987)': 220,
 'Goonies, The (1985)': 221,
 'Mask of Zorro, The (1998)': 222,
 'Back to the Future Part II (1989)': 223,
 'Back to the Future Part III (1990)': 224,
 'Saving Private Ryan (1998)': 225,
 'Honey, I Shrunk the Kids (1989)': 226,
 'Jungle Book, The (1967)': 227,
 'Lady and the Tramp (1955)': 228,
 'Little Mermaid, The (1989)': 229,
 'Splash (1984)': 230,
 'Tron (1982)': 231,
 'Indiana Jones and the Temple of Doom (1984)': 232,
 'Blade (1998)': 233,
 'Beetlejuice (1988)': 234,
 'Untouchables, The (1987)': 235,
 'Few Good Men, A (1992)': 236,
 'Edward Scissorhands (1990)': 237,
 'My Cousin Vinny (1992)': 238,
 'Pleasantville (1998)': 239,
 'Life Is Beautiful (La Vita è bella) (1997)': 240,
 'American History X (1998)': 241,
 'Enemy of the State (1998)': 242,
 "Bug's Life, A (1998)": 243,
 'Rushmore (1998)': 244,
 'Shakespeare in Love (1998)': 245,
 'Romancing the Stone (1984)': 246,
 "You've Got Mail (1998)": 247,
 'Crocodile Dundee (1986)': 248,
 'Office Space (1999)': 249,
 'Planet of the Apes (1968)': 250,
 'Lock, Stock & Two Smoking Barrels (1998)': 251,
 'Matrix, The (1999)': 252,
 '10 Things I Hate About You (1999)': 253,
 'Election (1999)': 254,
 'Mummy, The (1999)': 255,
 'Star Wars: Episode I - The Phantom Menace (1999)': 256,
 'Superman (1978)': 257,
 'Rocky Horror Picture Show, The (1975)': 258,
 'Notting Hill (1999)': 259,
 'Austin Powers: The Spy Who Shagged Me (1999)': 260,
 'Run Lola Run (Lola rennt) (1998)': 261,
 'Arachnophobia (1990)': 262,
 'South Park: Bigger, Longer and Uncut (1999)': 263,
 'Wild Wild West (1999)': 264,
 'American Pie (1999)': 265,
 'Blair Witch Project, The (1999)': 266,
 'Eyes Wide Shut (1999)': 267,
 'Ghostbusters (a.k.a. Ghost Busters) (1984)': 268,
 'Sixth Sense, The (1999)': 269,
 'Airplane! (1980)': 270,
 'Big (1988)': 271,
 'Christmas Story, A (1983)': 272,
 'American Beauty (1999)': 273,
 'Total Recall (1990)': 274,
 "Ferris Bueller's Day Off (1986)": 275,
 'Goldfinger (1964)': 276,
 'Fight Club (1999)': 277,
 'RoboCop (1987)': 278,
 'Who Framed Roger Rabbit? (1988)': 279,
 'Being John Malkovich (1999)': 280,
 'Spaceballs (1987)': 281,
 'Dogma (1999)': 282,
 'Sleepy Hollow (1999)': 283,
 'Toy Story 2 (1999)': 284,
 'Green Mile, The (1999)': 285,
 'Magnolia (1999)': 286,
 'Galaxy Quest (1999)': 287,
 "Wayne's World (1992)": 288,
 'Erin Brockovich (2000)': 289,
 'Animal House (1978)': 290,
 'Close Encounters of the Third Kind (1977)': 291,
 'High Fidelity (2000)': 292,
 'Hook (1991)': 293,
 'Predator (1987)': 294,
 'American Psycho (2000)': 295,
 'Caddyshack (1980)': 296,
 'Gladiator (2000)': 297,
 'Mission: Impossible II (2000)': 298,
 'Blazing Saddles (1974)': 299,
 'Gone in 60 Seconds (2000)': 300,
 'Chicken Run (2000)': 301,
 'Patriot, The (2000)': 302,
 'Scary Movie (2000)': 303,
 'X-Men (2000)': 304,
 'Almost Famous (2000)': 305,
 'Best in Show (2000)': 306,
 'Meet the Parents (2000)': 307,
 'Requiem for a Dream (2000)': 308,
 "Charlie's Angels (2000)": 309,
 'Unbreakable (2000)': 310,
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)': 311,
 'Snatch (2000)': 312,
 'What Women Want (2000)': 313,
 'Cast Away (2000)': 314,
 'Miss Congeniality (2000)': 315,
 'O Brother, Where Art Thou? (2000)': 316,
 'Traffic (2000)': 317,
 'Memento (2000)': 318,
 'Blow (2001)': 319,
 "Bridget Jones's Diary (2001)": 320,
 'Scarface (1983)': 321,
 'Shrek (2001)': 322,
 'Moulin Rouge (2001)': 323,
 'A.I. Artificial Intelligence (2001)': 324,
 'Legally Blonde (2001)': 325,
 'Others, The (2001)': 326,
 'Training Day (2001)': 327,
 'Zoolander (2001)': 328,
 'Mulholland Drive (2001)': 329,
 'Donnie Darko (2001)': 330,
 'Monsters, Inc. (2001)': 331,
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)": 332,
 "Ocean's Eleven (2001)": 333,
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)": 334,
 'Royal Tenenbaums, The (2001)': 335,
 'Lord of the Rings: The Fellowship of the Ring, The (2001)': 336,
 'Beautiful Mind, A (2001)': 337,
 'Black Hawk Down (2001)': 338,
 'Ice Age (2002)': 339,
 'My Big Fat Greek Wedding (2002)': 340,
 'Spider-Man (2002)': 341,
 'Star Wars: Episode II - Attack of the Clones (2002)': 342,
 'Bourne Identity, The (2002)': 343,
 'Minority Report (2002)': 344,
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)': 345,
 'Austin Powers in Goldmember (2002)': 346,
 'Signs (2002)': 347,
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)': 348,
 'Bowling for Columbine (2002)': 349,
 'Harry Potter and the Chamber of Secrets (2002)': 350,
 'Lord of the Rings: The Two Towers, The (2002)': 351,
 'Gangs of New York (2002)': 352,
 'Catch Me If You Can (2002)': 353,
 'City of God (Cidade de Deus) (2002)': 354,
 'X2: X-Men United (2003)': 355,
 'Matrix Reloaded, The (2003)': 356,
 'Bruce Almighty (2003)': 357,
 'Finding Nemo (2003)': 358,
 'Italian Job, The (2003)': 359,
 '28 Days Later (2002)': 360,
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)': 361,
 'Lost in Translation (2003)': 362,
 'School of Rock (2003)': 363,
 'Mystic River (2003)': 364,
 'Kill Bill: Vol. 1 (2003)': 365,
 'Matrix Revolutions, The (2003)': 366,
 'Love Actually (2003)': 367,
 'Last Samurai, The (2003)': 368,
 'Big Fish (2003)': 369,
 'Lord of the Rings: The Return of the King, The (2003)': 370,
 'Eternal Sunshine of the Spotless Mind (2004)': 371,
 'Kill Bill: Vol. 2 (2004)': 372,
 'Shrek 2 (2004)': 373,
 'Day After Tomorrow, The (2004)': 374,
 'Harry Potter and the Prisoner of Azkaban (2004)': 375,
 'Super Size Me (2004)': 376,
 'Spider-Man 2 (2004)': 377,
 'Anchorman: The Legend of Ron Burgundy (2004)': 378,
 'I, Robot (2004)': 379,
 'Bourne Supremacy, The (2004)': 380,
 'Shaun of the Dead (2004)': 381,
 'Incredibles, The (2004)': 382,
 'Million Dollar Baby (2004)': 383,
 'Charlie and the Chocolate Factory (2005)': 384,
 'Sin City (2005)': 385,
 'Crash (2004)': 386,
 'Star Wars: Episode III - Revenge of the Sith (2005)': 387,
 'Mr. & Mrs. Smith (2005)': 388,
 'Batman Begins (2005)': 389,
 'War of the Worlds (2005)': 390,
 'Wedding Crashers (2005)': 391,
 'Serenity (2005)': 392,
 '40-Year-Old Virgin, The (2005)': 393,
 'Harry Potter and the Goblet of Fire (2005)': 394,
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)': 395,
 'V for Vendetta (2006)': 396,
 'X-Men: The Last Stand (2006)': 397,
 "Pirates of the Caribbean: Dead Man's Chest (2006)": 398,
 'Little Miss Sunshine (2006)': 399,
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)': 400,
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)": 401,
 'Departed, The (2006)': 402,
 'Children of Men (2006)': 403,
 'Prestige, The (2006)': 404,
 'Casino Royale (2006)': 405,
 'Blood Diamond (2006)': 406,
 'Ratatouille (2007)': 407,
 'Hot Fuzz (2007)': 408,
 '300 (2007)': 409,
 'Knocked Up (2007)': 410,
 "Pirates of the Caribbean: At World's End (2007)": 411,
 'Harry Potter and the Order of the Phoenix (2007)': 412,
 'Bourne Ultimatum, The (2007)': 413,
 'Superbad (2007)': 414,
 'No Country for Old Men (2007)': 415,
 'I Am Legend (2007)': 416,
 'Juno (2007)': 417,
 'Dark Knight, The (2008)': 418,
 'Iron Man (2008)': 419,
 'Kung Fu Panda (2008)': 420,
 'WALL·E (2008)': 421,
 'Slumdog Millionaire (2008)': 422,
 'Inglourious Basterds (2009)': 423,
 'Star Trek (2009)': 424,
 'Up (2009)': 425,
 'Hangover, The (2009)': 426,
 'Harry Potter and the Half-Blood Prince (2009)': 427,
 'District 9 (2009)': 428,
 'Zombieland (2009)': 429,
 'Avatar (2009)': 430,
 'Sherlock Holmes (2009)': 431,
 'Shutter Island (2010)': 432,
 'How to Train Your Dragon (2010)': 433,
 'Toy Story 3 (2010)': 434,
 'Inception (2010)': 435,
 'Social Network, The (2010)': 436,
 "King's Speech, The (2010)": 437,
 'Harry Potter and the Deathly Hallows: Part 2 (2011)': 438,
 'Avengers, The (2012)': 439,
 'The Hunger Games (2012)': 440,
 'Dark Knight Rises, The (2012)': 441,
 'Skyfall (2012)': 442,
 'Django Unchained (2012)': 443,
 'Wolf of Wall Street, The (2013)': 444,
 'Grand Budapest Hotel, The (2014)': 445,
 'Interstellar (2014)': 446,
 'Guardians of the Galaxy (2014)': 447,
 'The Imitation Game (2014)': 448,
 'Deadpool (2016)': 449}

In [21]:
movie_user_sparse_matrix = csr_matrix(movie_user_matrix.values)

In [22]:
movie_user_sparse_matrix

<450x606 sparse matrix of type '<class 'numpy.float32'>'
	with 41360 stored elements in Compressed Sparse Row format>

In [23]:
movie_user_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0
7,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
109487,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
112852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5
116797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

In [24]:
print(movie_user_sparse_matrix)
# (0,4) means that oth row index has some non-zero value for 4th column index in movie_user_matrix

  (0, 0)	4.0
  (0, 4)	4.0
  (0, 6)	4.5
  (0, 14)	2.5
  (0, 16)	4.5
  (0, 17)	3.5
  (0, 18)	4.0
  (0, 20)	3.5
  (0, 26)	3.0
  (0, 30)	5.0
  (0, 31)	3.0
  (0, 32)	3.0
  (0, 39)	5.0
  (0, 42)	5.0
  (0, 43)	3.0
  (0, 44)	4.0
  (0, 45)	5.0
  (0, 49)	3.0
  (0, 52)	3.0
  (0, 55)	5.0
  (0, 61)	5.0
  (0, 62)	4.0
  (0, 64)	4.0
  (0, 66)	2.5
  (0, 69)	5.0
  :	:
  (449, 302)	5.0
  (449, 303)	3.0
  (449, 316)	3.5
  (449, 328)	5.0
  (449, 336)	2.0
  (449, 349)	2.5
  (449, 362)	3.5
  (449, 377)	5.0
  (449, 405)	3.5
  (449, 411)	4.0
  (449, 414)	4.0
  (449, 444)	4.0
  (449, 471)	5.0
  (449, 491)	5.0
  (449, 519)	5.0
  (449, 521)	3.5
  (449, 530)	5.0
  (449, 544)	3.0
  (449, 546)	5.0
  (449, 556)	3.0
  (449, 557)	2.0
  (449, 581)	4.0
  (449, 591)	4.0
  (449, 594)	3.5
  (449, 605)	3.0

In [25]:
from sklearn.neighbors import NearestNeighbors
import sklearn

In [26]:
model_knn = NearestNeighbors(metric='cosine', algorithm='auto', n_neighbors=20, n_jobs=-1)

# https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html

# fit
model_knn.fit(movie_user_sparse_matrix)

NearestNeighbors(metric='cosine', n_jobs=-1, n_neighbors=20)

In [27]:
# model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
# # fit
# model_knn.fit(movie_user_matrix)


# This also works, byt why do we need csr_matrix ? 
# We need csr for efficient storage and computation when dealing with sparse data
# Now, our default movie_user_matrix is sparse, hence having most of values as 0.
# Now, csdr matrix helps to store only the non-zero elements, thereby saving memeory

# 
# The Nearest Neighbor algorithms in Scikit-learn can handle 
# either dense NumPy arrays or sparse matrices as input2. 
# For sparse matrices, only “nonzero” elements may be considered neighbors. 
# Therefore, using a csr_matrix can make the computation more efficient and feasible, 
# especially when dealing with large datasets.

In [28]:
my_favorite = 'Jurasic'

In [29]:
match_tuple=[]
for title, idx in movie_to_idx.items():
    ratio = fuzz.ratio(title.lower(), my_favorite.lower())
    if ratio >=45:
        match_tuple.append((title, idx, ratio))

In [30]:
match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]

In [31]:
match_tuple

[('Jurassic Park (1993)', 81, 52)]

In [32]:
fuzz_matched_movies = [x[0] for x in match_tuple]
# This is done to find the movie name which matches our list of movies
# Sometimes user can type incorrect spelling or some other shortform of the movie
# So, fuzzy is used to find the most similar movie in our movie list which the user has entered
# The, this most simialr movie becomes the user input and is used by KN to find the similar movies

In [33]:
fuzz_matched_movies

['Jurassic Park (1993)']

In [34]:
match_tuple[0][1]

81

In [35]:
distances, indices = model_knn.kneighbors(movie_user_sparse_matrix[match_tuple[0][1]], n_neighbors=10)

In [36]:
distances

array([[0.        , 0.28001684, 0.31174213, 0.33054626, 0.33119565,
        0.3382675 , 0.36050385, 0.36158162, 0.37122047, 0.38068283]],
      dtype=float32)

In [37]:
raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]

In [38]:
raw_recommends

[(69, 0.3806828260421753),
 (27, 0.3712204694747925),
 (114, 0.36158162355422974),
 (99, 0.3605038523674011),
 (68, 0.3382675051689148),
 (78, 0.3311956524848938),
 (23, 0.3305462598800659),
 (62, 0.3117421269416809),
 (97, 0.28001683950424194)]

In [39]:
reverse_mapper = {v: k for k, v in movie_to_idx.items()}

In [40]:
reverse_mapper

{0: 'Toy Story (1995)',
 1: 'Jumanji (1995)',
 2: 'Grumpier Old Men (1995)',
 3: 'Heat (1995)',
 4: 'Sabrina (1995)',
 5: 'GoldenEye (1995)',
 6: 'American President, The (1995)',
 7: 'Casino (1995)',
 8: 'Sense and Sensibility (1995)',
 9: 'Ace Ventura: When Nature Calls (1995)',
 10: 'Get Shorty (1995)',
 11: 'Leaving Las Vegas (1995)',
 12: 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 13: 'Babe (1995)',
 14: 'Dead Man Walking (1995)',
 15: 'Clueless (1995)',
 16: 'Seven (a.k.a. Se7en) (1995)',
 17: 'Pocahontas (1995)',
 18: 'Usual Suspects, The (1995)',
 19: "Mr. Holland's Opus (1995)",
 20: 'From Dusk Till Dawn (1996)',
 21: 'Broken Arrow (1996)',
 22: 'Happy Gilmore (1996)',
 23: 'Braveheart (1995)',
 24: 'Taxi Driver (1976)',
 25: 'Birdcage, The (1996)',
 26: 'Bad Boys (1995)',
 27: 'Apollo 13 (1995)',
 28: 'Batman Forever (1995)',
 29: 'Casper (1995)',
 30: 'Congo (1995)',
 31: 'Crimson Tide (1995)',
 32: 'Desperado (1995)',
 33: 'Die Hard: With a Vengeance (1995)',
 34: 'First Knight (1995)',
 35: 'Johnny Mnemonic (1995)',
 36: 'Judge Dredd (1995)',
 37: 'Net, The (1995)',
 38: 'Waterworld (1995)',
 39: 'Clerks (1994)',
 40: 'Disclosure (1994)',
 41: 'Dumb & Dumber (Dumb and Dumber) (1994)',
 42: 'Ed Wood (1994)',
 43: 'Interview with the Vampire: The Vampire Chronicles (1994)',
 44: 'Star Wars: Episode IV - A New Hope (1977)',
 45: 'Legends of the Fall (1994)',
 46: 'Natural Born Killers (1994)',
 47: 'Outbreak (1995)',
 48: 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 49: 'Pulp Fiction (1994)',
 50: 'Quiz Show (1994)',
 51: 'Stargate (1994)',
 52: 'Santa Clause, The (1994)',
 53: 'Shawshank Redemption, The (1994)',
 54: 'Star Trek: Generations (1994)',
 55: 'Tommy Boy (1995)',
 56: "What's Eating Gilbert Grape (1993)",
 57: 'While You Were Sleeping (1995)',
 58: 'Ace Ventura: Pet Detective (1994)',
 59: 'Clear and Present Danger (1994)',
 60: 'Client, The (1994)',
 61: 'Crow, The (1994)',
 62: 'Forrest Gump (1994)',
 63: 'Four Weddings and a Funeral (1994)',
 64: 'Lion King, The (1994)',
 65: 'Mask, The (1994)',
 66: 'Maverick (1994)',
 67: 'Naked Gun 33 1/3: The Final Insult (1994)',
 68: 'Speed (1994)',
 69: 'True Lies (1994)',
 70: 'Addams Family Values (1993)',
 71: 'Beverly Hills Cop III (1994)',
 72: "City Slickers II: The Legend of Curly's Gold (1994)",
 73: 'Cliffhanger (1993)',
 74: 'Coneheads (1993)',
 75: 'Dave (1993)',
 76: 'Demolition Man (1993)',
 77: 'Firm, The (1993)',
 78: 'Fugitive, The (1993)',
 79: 'Hot Shots! Part Deux (1993)',
 80: 'In the Line of Fire (1993)',
 81: 'Jurassic Park (1993)',
 82: 'Last Action Hero (1993)',
 83: 'Mrs. Doubtfire (1993)',
 84: 'Philadelphia (1993)',
 85: 'Piano, The (1993)',
 86: 'Robin Hood: Men in Tights (1993)',
 87: "Schindler's List (1993)",
 88: 'Sleepless in Seattle (1993)',
 89: 'Blade Runner (1982)',
 90: 'Nightmare Before Christmas, The (1993)',
 91: 'Three Musketeers, The (1993)',
 92: 'Tombstone (1993)',
 93: 'True Romance (1993)',
 94: 'Home Alone (1990)',
 95: 'Ghost (1990)',
 96: 'Aladdin (1992)',
 97: 'Terminator 2: Judgment Day (1991)',
 98: 'Dances with Wolves (1990)',
 99: 'Batman (1989)',
 100: 'Silence of the Lambs, The (1991)',
 101: 'Snow White and the Seven Dwarfs (1937)',
 102: 'Beauty and the Beast (1991)',
 103: 'Pinocchio (1940)',
 104: 'Pretty Woman (1990)',
 105: 'Fargo (1996)',
 106: 'Mission: Impossible (1996)',
 107: 'Dragonheart (1996)',
 108: 'Space Jam (1996)',
 109: 'Truth About Cats & Dogs, The (1996)',
 110: 'Rock, The (1996)',
 111: 'Twister (1996)',
 112: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 113: 'Trainspotting (1996)',
 114: 'Independence Day (a.k.a. ID4) (1996)',
 115: 'Cable Guy, The (1996)',
 116: 'Eraser (1996)',
 117: 'Nutty Professor, The (1996)',
 118: 'Godfather, The (1972)',
 119: 'Vertigo (1958)',
 120: 'Rear Window (1954)',
 121: 'North by Northwest (1959)',
 122: 'Some Like It Hot (1959)',
 123: 'Casablanca (1942)',
 124: 'Wizard of Oz, The (1939)',
 125: 'Citizen Kane (1941)',
 126: '2001: A Space Odyssey (1968)',
 127: "It's a Wonderful Life (1946)",
 128: 'Mary Poppins (1964)',
 129: 'Sound of Music, The (1965)',
 130: 'Die Hard (1988)',
 131: 'Willy Wonka & the Chocolate Factory (1971)',
 132: 'Fish Called Wanda, A (1988)',
 133: "Monty Python's Life of Brian (1979)",
 134: 'Reservoir Dogs (1992)',
 135: 'Platoon (1986)',
 136: 'E.T. the Extra-Terrestrial (1982)',
 137: 'Top Gun (1986)',
 138: 'Abyss, The (1989)',
 139: 'Monty Python and the Holy Grail (1975)',
 140: 'Wallace & Gromit: The Wrong Trousers (1993)',
 141: "One Flew Over the Cuckoo's Nest (1975)",
 142: 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 143: 'Princess Bride, The (1987)',
 144: 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 145: 'Brazil (1985)',
 146: 'Aliens (1986)',
 147: 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 148: '12 Angry Men (1957)',
 149: 'Clockwork Orange, A (1971)',
 150: 'To Kill a Mockingbird (1962)',
 151: 'Apocalypse Now (1979)',
 152: 'Star Wars: Episode VI - Return of the Jedi (1983)',
 153: 'Goodfellas (1990)',
 154: 'Alien (1979)',
 155: 'Army of Darkness (1993)',
 156: 'Psycho (1960)',
 157: 'Blues Brothers, The (1980)',
 158: 'Godfather: Part II, The (1974)',
 159: 'Full Metal Jacket (1987)',
 160: 'Amadeus (1984)',
 161: 'Annie Hall (1977)',
 162: 'Sting, The (1973)',
 163: 'Terminator, The (1984)',
 164: 'Dead Poets Society (1989)',
 165: 'Graduate, The (1967)',
 166: 'Chinatown (1974)',
 167: 'Shining, The (1980)',
 168: 'Stand by Me (1986)',
 169: 'Groundhog Day (1993)',
 170: 'Back to the Future (1985)',
 171: 'Cool Hand Luke (1967)',
 172: 'Young Frankenstein (1974)',
 173: 'Fantasia (1940)',
 174: 'This Is Spinal Tap (1984)',
 175: 'Indiana Jones and the Last Crusade (1989)',
 176: 'Field of Dreams (1989)',
 177: 'Butch Cassidy and the Sundance Kid (1969)',
 178: 'When Harry Met Sally... (1989)',
 179: 'Star Trek: First Contact (1996)',
 180: 'Die Hard 2 (1990)',
 181: 'Star Trek II: The Wrath of Khan (1982)',
 182: 'Batman Returns (1992)',
 183: 'Grease (1978)',
 184: 'Jaws (1975)',
 185: 'Mars Attacks! (1996)',
 186: 'Jerry Maguire (1996)',
 187: 'Raising Arizona (1987)',
 188: 'Scream (1996)',
 189: 'Donnie Brasco (1997)',
 190: 'Liar Liar (1997)',
 191: 'Grosse Pointe Blank (1997)',
 192: 'Austin Powers: International Man of Mystery (1997)',
 193: 'Fifth Element, The (1997)',
 194: 'Lost World: Jurassic Park, The (1997)',
 195: 'Con Air (1997)',
 196: 'Face/Off (1997)',
 197: 'Men in Black (a.k.a. MIB) (1997)',
 198: 'Contact (1997)',
 199: 'Air Force One (1997)',
 200: 'Hunt for Red October, The (1990)',
 201: 'L.A. Confidential (1997)',
 202: 'Game, The (1997)',
 203: 'Chasing Amy (1997)',
 204: 'Full Monty, The (1997)',
 205: "The Devil's Advocate (1997)",
 206: 'Gattaca (1997)',
 207: 'Starship Troopers (1997)',
 208: 'Truman Show, The (1998)',
 209: 'Good Will Hunting (1997)',
 210: 'Titanic (1997)',
 211: 'Big Lebowski, The (1998)',
 212: 'Wedding Singer, The (1998)',
 213: 'As Good as It Gets (1997)',
 214: 'Armageddon (1998)',
 215: "There's Something About Mary (1998)",
 216: 'Rocky (1976)',
 217: 'Rain Man (1988)',
 218: 'Breakfast Club, The (1985)',
 219: 'Exorcist, The (1973)',
 220: 'Lethal Weapon (1987)',
 221: 'Goonies, The (1985)',
 222: 'Mask of Zorro, The (1998)',
 223: 'Back to the Future Part II (1989)',
 224: 'Back to the Future Part III (1990)',
 225: 'Saving Private Ryan (1998)',
 226: 'Honey, I Shrunk the Kids (1989)',
 227: 'Jungle Book, The (1967)',
 228: 'Lady and the Tramp (1955)',
 229: 'Little Mermaid, The (1989)',
 230: 'Splash (1984)',
 231: 'Tron (1982)',
 232: 'Indiana Jones and the Temple of Doom (1984)',
 233: 'Blade (1998)',
 234: 'Beetlejuice (1988)',
 235: 'Untouchables, The (1987)',
 236: 'Few Good Men, A (1992)',
 237: 'Edward Scissorhands (1990)',
 238: 'My Cousin Vinny (1992)',
 239: 'Pleasantville (1998)',
 240: 'Life Is Beautiful (La Vita è bella) (1997)',
 241: 'American History X (1998)',
 242: 'Enemy of the State (1998)',
 243: "Bug's Life, A (1998)",
 244: 'Rushmore (1998)',
 245: 'Shakespeare in Love (1998)',
 246: 'Romancing the Stone (1984)',
 247: "You've Got Mail (1998)",
 248: 'Crocodile Dundee (1986)',
 249: 'Office Space (1999)',
 250: 'Planet of the Apes (1968)',
 251: 'Lock, Stock & Two Smoking Barrels (1998)',
 252: 'Matrix, The (1999)',
 253: '10 Things I Hate About You (1999)',
 254: 'Election (1999)',
 255: 'Mummy, The (1999)',
 256: 'Star Wars: Episode I - The Phantom Menace (1999)',
 257: 'Superman (1978)',
 258: 'Rocky Horror Picture Show, The (1975)',
 259: 'Notting Hill (1999)',
 260: 'Austin Powers: The Spy Who Shagged Me (1999)',
 261: 'Run Lola Run (Lola rennt) (1998)',
 262: 'Arachnophobia (1990)',
 263: 'South Park: Bigger, Longer and Uncut (1999)',
 264: 'Wild Wild West (1999)',
 265: 'American Pie (1999)',
 266: 'Blair Witch Project, The (1999)',
 267: 'Eyes Wide Shut (1999)',
 268: 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 269: 'Sixth Sense, The (1999)',
 270: 'Airplane! (1980)',
 271: 'Big (1988)',
 272: 'Christmas Story, A (1983)',
 273: 'American Beauty (1999)',
 274: 'Total Recall (1990)',
 275: "Ferris Bueller's Day Off (1986)",
 276: 'Goldfinger (1964)',
 277: 'Fight Club (1999)',
 278: 'RoboCop (1987)',
 279: 'Who Framed Roger Rabbit? (1988)',
 280: 'Being John Malkovich (1999)',
 281: 'Spaceballs (1987)',
 282: 'Dogma (1999)',
 283: 'Sleepy Hollow (1999)',
 284: 'Toy Story 2 (1999)',
 285: 'Green Mile, The (1999)',
 286: 'Magnolia (1999)',
 287: 'Galaxy Quest (1999)',
 288: "Wayne's World (1992)",
 289: 'Erin Brockovich (2000)',
 290: 'Animal House (1978)',
 291: 'Close Encounters of the Third Kind (1977)',
 292: 'High Fidelity (2000)',
 293: 'Hook (1991)',
 294: 'Predator (1987)',
 295: 'American Psycho (2000)',
 296: 'Caddyshack (1980)',
 297: 'Gladiator (2000)',
 298: 'Mission: Impossible II (2000)',
 299: 'Blazing Saddles (1974)',
 300: 'Gone in 60 Seconds (2000)',
 301: 'Chicken Run (2000)',
 302: 'Patriot, The (2000)',
 303: 'Scary Movie (2000)',
 304: 'X-Men (2000)',
 305: 'Almost Famous (2000)',
 306: 'Best in Show (2000)',
 307: 'Meet the Parents (2000)',
 308: 'Requiem for a Dream (2000)',
 309: "Charlie's Angels (2000)",
 310: 'Unbreakable (2000)',
 311: 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 312: 'Snatch (2000)',
 313: 'What Women Want (2000)',
 314: 'Cast Away (2000)',
 315: 'Miss Congeniality (2000)',
 316: 'O Brother, Where Art Thou? (2000)',
 317: 'Traffic (2000)',
 318: 'Memento (2000)',
 319: 'Blow (2001)',
 320: "Bridget Jones's Diary (2001)",
 321: 'Scarface (1983)',
 322: 'Shrek (2001)',
 323: 'Moulin Rouge (2001)',
 324: 'A.I. Artificial Intelligence (2001)',
 325: 'Legally Blonde (2001)',
 326: 'Others, The (2001)',
 327: 'Training Day (2001)',
 328: 'Zoolander (2001)',
 329: 'Mulholland Drive (2001)',
 330: 'Donnie Darko (2001)',
 331: 'Monsters, Inc. (2001)',
 332: "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 333: "Ocean's Eleven (2001)",
 334: "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 335: 'Royal Tenenbaums, The (2001)',
 336: 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 337: 'Beautiful Mind, A (2001)',
 338: 'Black Hawk Down (2001)',
 339: 'Ice Age (2002)',
 340: 'My Big Fat Greek Wedding (2002)',
 341: 'Spider-Man (2002)',
 342: 'Star Wars: Episode II - Attack of the Clones (2002)',
 343: 'Bourne Identity, The (2002)',
 344: 'Minority Report (2002)',
 345: 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 346: 'Austin Powers in Goldmember (2002)',
 347: 'Signs (2002)',
 348: 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 349: 'Bowling for Columbine (2002)',
 350: 'Harry Potter and the Chamber of Secrets (2002)',
 351: 'Lord of the Rings: The Two Towers, The (2002)',
 352: 'Gangs of New York (2002)',
 353: 'Catch Me If You Can (2002)',
 354: 'City of God (Cidade de Deus) (2002)',
 355: 'X2: X-Men United (2003)',
 356: 'Matrix Reloaded, The (2003)',
 357: 'Bruce Almighty (2003)',
 358: 'Finding Nemo (2003)',
 359: 'Italian Job, The (2003)',
 360: '28 Days Later (2002)',
 361: 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 362: 'Lost in Translation (2003)',
 363: 'School of Rock (2003)',
 364: 'Mystic River (2003)',
 365: 'Kill Bill: Vol. 1 (2003)',
 366: 'Matrix Revolutions, The (2003)',
 367: 'Love Actually (2003)',
 368: 'Last Samurai, The (2003)',
 369: 'Big Fish (2003)',
 370: 'Lord of the Rings: The Return of the King, The (2003)',
 371: 'Eternal Sunshine of the Spotless Mind (2004)',
 372: 'Kill Bill: Vol. 2 (2004)',
 373: 'Shrek 2 (2004)',
 374: 'Day After Tomorrow, The (2004)',
 375: 'Harry Potter and the Prisoner of Azkaban (2004)',
 376: 'Super Size Me (2004)',
 377: 'Spider-Man 2 (2004)',
 378: 'Anchorman: The Legend of Ron Burgundy (2004)',
 379: 'I, Robot (2004)',
 380: 'Bourne Supremacy, The (2004)',
 381: 'Shaun of the Dead (2004)',
 382: 'Incredibles, The (2004)',
 383: 'Million Dollar Baby (2004)',
 384: 'Charlie and the Chocolate Factory (2005)',
 385: 'Sin City (2005)',
 386: 'Crash (2004)',
 387: 'Star Wars: Episode III - Revenge of the Sith (2005)',
 388: 'Mr. & Mrs. Smith (2005)',
 389: 'Batman Begins (2005)',
 390: 'War of the Worlds (2005)',
 391: 'Wedding Crashers (2005)',
 392: 'Serenity (2005)',
 393: '40-Year-Old Virgin, The (2005)',
 394: 'Harry Potter and the Goblet of Fire (2005)',
 395: 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 396: 'V for Vendetta (2006)',
 397: 'X-Men: The Last Stand (2006)',
 398: "Pirates of the Caribbean: Dead Man's Chest (2006)",
 399: 'Little Miss Sunshine (2006)',
 400: 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 401: "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 402: 'Departed, The (2006)',
 403: 'Children of Men (2006)',
 404: 'Prestige, The (2006)',
 405: 'Casino Royale (2006)',
 406: 'Blood Diamond (2006)',
 407: 'Ratatouille (2007)',
 408: 'Hot Fuzz (2007)',
 409: '300 (2007)',
 410: 'Knocked Up (2007)',
 411: "Pirates of the Caribbean: At World's End (2007)",
 412: 'Harry Potter and the Order of the Phoenix (2007)',
 413: 'Bourne Ultimatum, The (2007)',
 414: 'Superbad (2007)',
 415: 'No Country for Old Men (2007)',
 416: 'I Am Legend (2007)',
 417: 'Juno (2007)',
 418: 'Dark Knight, The (2008)',
 419: 'Iron Man (2008)',
 420: 'Kung Fu Panda (2008)',
 421: 'WALL·E (2008)',
 422: 'Slumdog Millionaire (2008)',
 423: 'Inglourious Basterds (2009)',
 424: 'Star Trek (2009)',
 425: 'Up (2009)',
 426: 'Hangover, The (2009)',
 427: 'Harry Potter and the Half-Blood Prince (2009)',
 428: 'District 9 (2009)',
 429: 'Zombieland (2009)',
 430: 'Avatar (2009)',
 431: 'Sherlock Holmes (2009)',
 432: 'Shutter Island (2010)',
 433: 'How to Train Your Dragon (2010)',
 434: 'Toy Story 3 (2010)',
 435: 'Inception (2010)',
 436: 'Social Network, The (2010)',
 437: "King's Speech, The (2010)",
 438: 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 439: 'Avengers, The (2012)',
 440: 'The Hunger Games (2012)',
 441: 'Dark Knight Rises, The (2012)',
 442: 'Skyfall (2012)',
 443: 'Django Unchained (2012)',
 444: 'Wolf of Wall Street, The (2013)',
 445: 'Grand Budapest Hotel, The (2014)',
 446: 'Interstellar (2014)',
 447: 'Guardians of the Galaxy (2014)',
 448: 'The Imitation Game (2014)',
 449: 'Deadpool (2016)'}

In [41]:
for i, (fuzz_matched_movies, dist) in enumerate(raw_recommends):
        print(f'{i+1} -> {reverse_mapper[fuzz_matched_movies]} -> {dist}')
        # print(f'{i}: {reverse_mapper[fuzz_matched_movies]}, with distance of {dist}')

1 -> True Lies (1994) -> 0.3806828260421753
2 -> Apollo 13 (1995) -> 0.3712204694747925
3 -> Independence Day (a.k.a. ID4) (1996) -> 0.36158162355422974
4 -> Batman (1989) -> 0.3605038523674011
5 -> Speed (1994) -> 0.3382675051689148
6 -> Fugitive, The (1993) -> 0.3311956524848938
7 -> Braveheart (1995) -> 0.3305462598800659
8 -> Forrest Gump (1994) -> 0.3117421269416809
9 -> Terminator 2: Judgment Day (1991) -> 0.28001683950424194

### Working of KNN manually:

In [152]:
movie_user_matrix.shape
# 450 movies and 606 users

(450, 606)

In [156]:
movie_user_matrix.iloc[81,:]
# Now, this is the vector of 81st movie

userId
1      4.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
606    2.5
607    4.0
608    3.0
609    3.0
610    5.0
Name: 480, Length: 606, dtype: float32

In [158]:
reverse_mapper[81]

'Jurassic Park (1993)'

In [159]:
movie_to_idx['Jurassic Park (1993)']

81

In [160]:
# Now, let's try to find the cosine similarity of this 81st movie with all the other movies

In [231]:
# let's start with true Lines:

movie_to_idx['True Lies (1994)']

69

In [173]:
import numpy as np
from numpy.linalg import norm

base_movie = np.array(movie_user_matrix.iloc[81,:])

First_movie = np.array(movie_user_matrix.iloc[69,:])

In [230]:
base_movie, First_movie

(array([4. , 0. , 0. , 0. , 0. , 5. , 5. , 4. , 0. , 0. , 4. , 0. , 0. ,
        3. , 0. , 0. , 4.5, 3.5, 2. , 0. , 4. , 0. , 0. , 0. , 0. , 0. ,
        4. , 2.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. ,
        0. , 0. , 0. , 4. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        3. , 0. , 5. , 5. , 4. , 3. , 0. , 0. , 0. , 2.5, 4. , 0. , 3. ,
        0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 2. , 0. , 4. , 5. ,
        0. , 4. , 4. , 3. , 3. , 0. , 3. , 0. , 0. , 0. , 0. , 4.5, 0. ,
        5. , 4. , 3.5, 5. , 0. , 0. , 0. , 0. , 0. , 3. , 4. , 0. , 0. ,
        0. , 0. , 4. , 3. , 0. , 2.5, 5. , 0. , 0. , 5. , 4. , 4. , 0. ,
        0. , 0. , 0. , 4. , 0. , 3.5, 0. , 3. , 0. , 0. , 3.5, 0. , 0. ,
        0. , 3. , 0. , 5. , 0. , 3.5, 0. , 0. , 4. , 3. , 3. , 0. , 3. ,
        0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. ,
        0. , 3. , 2. , 0. , 0. , 0. , 5. , 4. , 0. , 3.5, 0. , 4. , 3. ,
        0. , 0. , 4. , 5. , 0. , 3.5, 3. , 4. , 0. , 5. , 3.5, 4. , 0. ,
        0. , 4. , 0. , 0. , 0. , 0. , 0. , 5. , 2. , 0. , 0. , 0. , 0. ,
        3. , 0. , 3.5, 5. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 3. , 0. , 0. , 0. , 0. , 4. , 0. , 4. , 5. , 3. , 0. , 3.5,
        0. , 0. , 4. , 0. , 0. , 3. , 0. , 0. , 3. , 0. , 5. , 4. , 0. ,
        0. , 0. , 4. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 4.5, 0. , 4. ,
        0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 2. , 4. , 4. , 5. , 0. , 0. , 0. , 0. , 0. , 4. , 3.5, 4. ,
        5. , 0. , 0. , 4. , 0. , 0. , 4. , 0. , 5. , 0. , 0. , 0. , 2. ,
        0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 3. ,
        5. , 3.5, 4. , 2. , 0. , 3.5, 0. , 0. , 0. , 0. , 3. , 3. , 3. ,
        0. , 0. , 0. , 4. , 0. , 0. , 4. , 3.5, 3.5, 0. , 0. , 0. , 0. ,
        2. , 0. , 2. , 0. , 3.5, 0. , 3. , 0. , 0. , 0. , 0. , 4. , 5. ,
        2. , 0. , 0. , 0. , 0. , 2.5, 4. , 0. , 3. , 0. , 4. , 0. , 0. ,
        4. , 3. , 0. , 4. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 4. , 0. , 0. , 0. , 0. , 4. , 4. , 0. , 4. , 0. , 0. , 4. ,
        5. , 4. , 0. , 0. , 4. , 4. , 2. , 3. , 0. , 0. , 0. , 2. , 0. ,
        0. , 3. , 4. , 0. , 0. , 0. , 3. , 0. , 0. , 4. , 0. , 4. , 0. ,
        0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 4. , 4. , 0. , 0. , 0. ,
        3.5, 3.5, 0. , 0. , 5. , 0. , 3.5, 4. , 0. , 2. , 0. , 0. , 0. ,
        4.5, 0. , 5. , 0. , 3. , 0. , 4. , 0. , 0. , 0. , 0. , 3. , 0. ,
        4. , 4. , 3. , 0. , 0. , 0. , 4. , 4. , 0. , 3. , 0. , 2. , 5. ,
        0. , 0. , 0.5, 0. , 0. , 4. , 0. , 0. , 0. , 0. , 3. , 5. , 0. ,
        0. , 0. , 4.5, 0. , 4. , 4. , 0. , 0. , 5. , 0. , 0. , 4. , 4. ,
        0. , 5. , 0. , 0. , 3.5, 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. ,
        4. , 0. , 4. , 0. , 0. , 3.5, 0. , 0. , 0. , 4. , 0. , 0. , 3. ,
        0. , 4. , 0. , 4.5, 0. , 4. , 1. , 0. , 0. , 0. , 0. , 3.5, 0. ,
        4. , 4. , 0. , 5. , 0. , 0. , 4. , 4. , 4. , 0. , 4.5, 0. , 4. ,
        0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 5. , 0. , 4.5, 0. ,
        0. , 0. , 0. , 4. , 2. , 3. , 4. , 0. , 0. , 4. , 5. , 0. , 0. ,
        5. , 0. , 4. , 4. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 3. , 0. ,
        4. , 0. , 5. , 0. , 5. , 0. , 0. , 5. , 0. , 4. , 3. , 0. , 4. ,
        0. , 0. , 3. , 2.5, 4. , 3. , 3. , 5. ], dtype=float32),
 array([0. , 0. , 0. , 0. , 2. , 4. , 3. , 5. , 0. , 0. , 4. , 0. , 0. ,
        0. , 0. , 0. , 0. , 2.5, 3. , 0. , 0. , 0. , 0. , 0. , 0. , 3. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 2. , 3. , 0. ,
        3. , 0.5, 3. , 3. , 0. , 4. , 5. , 0. , 0. , 0. , 0. , 4. , 0. ,
        0. , 0. , 4. , 4. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3.5,
        0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. ,
        0. , 2. , 4. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 3.5, 0. ,
        5. , 3. , 0. , 3. , 0. , 0. , 5. , 3.5, 0. , 3. , 0. , 3.5, 0. ,
        0. , 4. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 1. , 0. , 4. , 0. ,
        0. , 0. , 3. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 3. , 0. ,
        0. , 3. , 2. , 3. , 3. , 0. , 0. , 0. , 4. , 0. , 4. , 0. , 3. ,
        3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        5. , 0. , 0. , 3. , 5. , 3. , 4. , 4. , 0. , 2. , 3. , 4. , 0. ,
        0. , 4. , 2. , 0. , 0. , 0. , 3. , 5. , 0. , 0. , 0. , 0. , 0. ,
        0. , 3. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 2. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 2. , 0. , 3. , 4.5, 0. , 0. , 0. ,
        0. , 3. , 0. , 0. , 0. , 4. , 3. , 0. , 0. , 0. , 0. , 4. , 0. ,
        0. , 0. , 3.5, 3. , 0. , 4. , 3. , 4. , 0. , 0. , 0. , 0. , 4. ,
        0. , 0. , 0. , 0. , 2.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3. ,
        4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 3. ,
        0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 4. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 2. ,
        0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 2. , 0. , 0. ,
        0. , 0. , 3. , 0. , 0. , 0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. ,
        4.5, 0. , 0. , 5. , 0. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 3. ,
        4. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 3. , 0. , 4. , 0. , 5. , 0. , 5. , 0. , 3.5, 0. , 0. , 4. ,
        5. , 3.5, 0. , 0. , 0. , 3. , 3. , 2. , 0. , 0. , 0. , 2. , 0. ,
        0. , 3. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 3. , 0. ,
        0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 4. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 2.5, 0. , 0. , 2. , 5. , 0. , 0. ,
        0. , 0. , 2.5, 0. , 3. , 0. , 5. , 0. , 0. , 0. , 0. , 4. , 0. ,
        2. , 4. , 3. , 0. , 0. , 0. , 5. , 4. , 0. , 3. , 0. , 0. , 3. ,
        0. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. , 4. , 4. , 5. , 0. ,
        0. , 0. , 4. , 0. , 3. , 0. , 0. , 0. , 2.5, 0. , 0. , 4. , 0. ,
        5. , 3. , 0. , 0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        4. , 4.5, 0. , 0. , 0. , 0. , 2. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 4. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 3. , 4. , 3.5, 0. ,
        0. , 0. , 4. , 3. , 0. , 0. , 3. , 3.5, 0. , 0. , 4.5, 4. , 0. ,
        4. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 4.5, 4. , 3. , 0. ,
        3. , 0. , 5. , 0. , 4.5, 0. , 0. , 2. , 0. , 3. , 3. , 0. , 3. ,
        2. , 3. , 3. , 0. , 4. , 3. , 0. , 5. ], dtype=float32))

In [174]:
import scipy

In [175]:
scipy.spatial.distance.cosine(base_movie, First_movie)

0.3806830048561096

## use itemCF from LibRecommender

In [42]:
import numpy as np
import pandas as pd
from libreco.data import random_split, DatasetPure
from libreco.algorithms import ItemCF  # ItemCF algorithm
from libreco.evaluation import evaluate

WARNING:tensorflow:From c:\Users\manpresingh\AppData\Local\miniconda3\envs\python38\lib\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [95]:
df_ratings_new = df_ratings.rename(columns={'userId':'user', 'movieId':'item', 'rating':'label'})

In [104]:
from libreco.data import random_split

train_data, eval_data, test_data = random_split(df_ratings_new, multi_ratios=[0.8, 0.1, 0.1])

In [105]:
train_data

       user   item  label
20596   135   4085    4.0
37993   260    750    4.0
98177   606   6798    2.5
36409   249    434    3.5
88947   573  74458    4.5
...     ...    ...    ...
56650   376  48516    4.5
76231   480     10    4.0
57287   380   3408    3.0
12085    74   3481    3.5
22872   156   1747    3.0

[80668 rows x 3 columns]

In [107]:
eval_data.user.unique

<bound method Series.unique of 38114    260
26441    182
53190    351
92569    597
42863    288
        ...
19164    123
25238    177
48888    317
79107    489
8165      57
Name: user, Length: 9651, dtype: int32>

In [108]:
train_data, data_info = DatasetPure.build_trainset(train_data)
eval_data = DatasetPure.build_evalset(eval_data)
test_data = DatasetPure.build_testset(test_data)

https://librecommender.readthedocs.io/en/latest/api/algorithms/item_cf.html

In [250]:
# Initialize ItemCF model
itemcf = ItemCF(
    task="rating",
    data_info=data_info,
    sim_type="pearson", #sim_type ({'cosine', 'pearson', 'jaccard'}, default: 'cosine') – Types for computing similarities.
    k_sim=75, #Number of similar items to use
    store_top_k=True, #store_top_k (bool, default: True) – Whether to store top k similar items after training.
    num_threads=3,
    min_common=4, #Number of minimum common items to consider when computing similarities.
    mode="invert",
    seed=100,
    # lower_upper_bound (tuple or None, default: None) – Lower and upper score bound for rating task.
)

In [251]:
itemcf.fit(train_data,neg_sampling=False, verbose=1, eval_data=eval_data)

Training start time: 2024-04-09 21:32:07
Final block size and num: (8965, 1)
sim_matrix elapsed: 0.800s
sim_matrix, shape: (8965, 8965), num_elements: 2121120, density: 570.0403 %

top_k: 100%|██████████| 8965/8965 [00:00<00:00, 17352.95it/s]

In [252]:
evaluate(model=itemcf, neg_sampling=False, data=test_data)

eval_pointwise:   0%|          | 0/2 [00:00<?, ?it/s]

No common interaction or similar neighbor for user 600 and item 5940, proceed with default prediction
No common interaction or similar neighbor for user 139 and item 1957, proceed with default prediction
No common interaction or similar neighbor for user 181 and item 3822, proceed with default prediction
No common interaction or similar neighbor for user 324 and item 72, proceed with default prediction
No common interaction or similar neighbor for user 155 and item 2316, proceed with default prediction
No common interaction or similar neighbor for user 56 and item 1521, proceed with default prediction

eval_pointwise: 100%|██████████| 2/2 [00:00<00:00,  2.19it/s]

{'loss': 1.0437134096152516}

In [253]:
itemcf.predict(user=[1,1,1], item=[12,89,2139],
               cold_start='popular')
# Make prediction(s) on given user(s) and item(s).

[4.3551411628723145, 3.7751598358154297, 4.6934285163879395]

* By default, the recommendation result returned by model.recommend_user() method will filter out items that a user has previously consumed.
* However, if you use a very large n_rec and number of consumed items for this user plus n_rec exceeds number of total items, i.e. len(user_consumed) + n_rec > n_items, the consumed items will not be filtered out since there are not enough items to recommend. If you don’t want to filter out consumed items, set filter_consumed=False
* LibRecommender also supports random recommendation by setting random_rec=True (By default it is False). Of course, it’s not completely random, but random sampling based on each item’s prediction scores. It’s basically a trade-off between accuracy and diversity
* Finally, batch recommendation is also supported by simply passing a list to the user parameter. The returned result will be a dict, with users as keys and numpy.array as values.

In [254]:
user_id=1
mylist = list(itemcf.recommend_user(user=user_id, 
                                    n_rec=10, 
                                    filter_consumed=False,
                                    random_rec=False)[user_id])
mylist
# Recommend a list of items for given user(s).

# itemcf.recommend_user(user=[1], n_rec=10, filter_consumed=False)

[2139, 1025, 1275, 2090, 1031, 2470, 2193, 2949, 2993, 2947]

In [255]:
df_ratings[(df_ratings.userId==user_id) & (df_ratings.movieId.isin(mylist))].sort_values(by='rating', ascending=False)#[0:20]

     userId  movieId  rating
52        1     1025     5.0
55        1     1031     5.0
86        1     1275     5.0
128       1     2090     5.0
137       1     2139     5.0
159       1     2470     5.0
189       1     2947     5.0
191       1     2949     5.0
196       1     2993     5.0
142       1     2193     4.0

In [256]:
user_id=1
mylist = list(itemcf.recommend_user(user=user_id, 
                                    n_rec=10, 
                                    filter_consumed=True,
                                    random_rec=False)[user_id])
mylist
# Recommend a list of items for given user(s).

# itemcf.recommend_user(user=[1], n_rec=10, filter_consumed=False)

[4855, 45186, 5110, 2161, 7162, 3638, 2802, 2134, 3740, 6755]

In [257]:
df_ratings[(df_ratings.userId==user_id) & (df_ratings.movieId.isin(mylist))].sort_values(by='rating', ascending=False)#[0:20]

     userId  movieId  rating
140       1     2161     5.0
226       1     3740     4.0